<!DOCTYPE html>
<html>

<head>
  <title>Python strftime reference cheatsheet</title>
  <link rel="stylesheet" href="edify.css">
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="python, strftime, reference, cheatsheet">
  <meta name="description" content="A quick reference for Python's strftime formatting directives.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <h1>
    Python
    <code><a href="https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes">strftime</a></code>
    cheatsheet
    <br>
    🐍🐍🐍
  </h1>

  <div class="reference">
    <table cellpadding="0" cellspacing="0" border="0">
      <colgroup>
        <col id="directive">
        <col id="example">
        <col id="description">
      </colgroup>
      <thead>
        <tr>
          <th>Code</th>
          <th>Example</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {{#directives}}
        <tr>
          <td><code>{{directive}}</code></td>
          <td><code>{{example}}</code></td>
          <td>{{meaning}}</td>
        </tr>
        {{/directives}}
      </tbody>
    </table>
  </div>

  <h2>Platform-specific directives</h2>
  <p>
    The full set of format codes supported varies across platforms, because
    Python calls the platform C library's strftime() function, and platform
    variations are common. To see the full set of format codes supported on
    your platform, consult the <a href="http://man7.org/linux/man-pages/man3/strftime.3.html"><code>strftime(3)</code>
      documentation</a>.
  </p>
  <p>
    The Python docs contain all the format codes that the C standard (1989
    version) requires, and these work on all platforms with a standard C
    implementation. Note that the 1999 version of the C standard added
    additional format codes. These include codes for non-zero-padded numbers,
    that can be obtained by appending a dash (-) (UNIX) or hash (#) (Windows)
    after the percent (%) sign.
  </p>

  <h2>Source</h2>
  <p class="source">This cheatsheet was built from the
    <a href="https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes">Python standard library
      <code>strftime</code> documentation</a>. See <a
      href="https://github.com/mccutchen/strftime.org/">github.com/mccutchen/strftime.org</a> for the build source code.
  </p>

  <h2>See also</h2>
  <p>You might also like <a href="https://pyformat.info/">PyFormat.info</a> or
    the interactive <a href="https://www.strfti.me/">strfti.me</a>.</p>

  <footer>
    <p>Last updated {{timestamp}}.</p>
  </footer>
</body>

</html>
