:root {
    --background-color: #fff;
    --text-color: 53, 53, 53;
    --text-background: #f9f9f9;
    --link-color: 255, 13, 134;
}

html {
    padding: 1rem;
}

body {
    background-color: var(--background-color);
    color: rgb(var(--text-color));
    margin: 0 auto;
    max-width: 50rem;
    /* System Fonts as used by Medium and WordPress */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1, h2 {
    text-align: center;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

table {
    margin: 0 -1rem;
}

td, th {
    padding: .5rem 1rem;
    text-align: left;
    vertical-align: top;
}

tr:nth-child(even) {
    background-color: var(--text-background);
}

table tr td:nth-child(1) {
    /* first column */
    text-align: right;
}

footer {
    margin-top: 2rem;
    text-align: right;
    font-size: smaller;
    font-style: italic;
    color: rgba(var(--text-color), 0.5);
}

a, a:visited {
    color: rgb(var(--link-color));
    text-decoration: none;
}

a:hover {
    background-color: rgba(var(--link-color), 0.1);
}

code {
    /* Monospace system fonts as used by GitHub */
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
